<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PMS | View-Task</title>
  <?php include('application/views/header.php'); ?> 
  <!-- DataTables -->
  <link rel="stylesheet" href="<?php echo base_url();?>/assets/plugins/datatables/dataTables.bootstrap.css"> 
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <?php include('application/views/header-body.php'); ?>  
  <!-- Left side column. contains the logo and sidebar -->
 <?php include('sidebar.php'); ?>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>       
        <small>View Task</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>        
        <li class="active">View Task</li>
      </ol>
    </section>
    <br>
    <div class="col-md-10" style="margin-left: 7%;">

      <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Search</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                 
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date range:</label>
                    <div class="col-sm-10">                                     
                       <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="reservation">
                    </div>                  
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Projects</label>
                  <div class="col-sm-10">                                         
                      <select multiple class="form-control" id="project_name">
                        <?php if(count($getProjectName)): ?>
                        <?php foreach ($getProjectName as $projectName): ?>
                            <option value="<?php echo $projectName->project_id;?>"><?php echo $projectName->project_title?></option>
                        <?php endforeach; ?>
                      <?php endif; ?>
                       </select>       
                  </div>
                </div>
                <div class="form-group">
                  
                  
                </div>
                               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Search</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
  </div>
  <div class="col-md-12" id="main_table" style="display: none;">
          <?php $record = $row->result(); if(count($record) == 0)  {  ?>
             <h3 align="center" style="font-size: xx-large;">No Record Found</h3> 
           <?php  } else { ?><br>
    <section class="content">
      <div class="row">      
          <!-- /.box -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">View Task</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- alerts start -->
              <?php if($this->session->flashdata('success')) {?>
              <div class="myAlert alert alert-success" role="alert">
                  <?php echo $this->session->flashdata('success') ?>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </div>
            <?php } ?>
            <?php if($this->session->flashdata('error')) {?>
              <div class="myAlert alert alert-danger" role="alert">
                   <?php echo $this->session->flashdata('error') ?>
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </div>
            <?php } ?>           
            <!-- alerts End -->
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Task Code</th>
                  <th>Title</th>                                    
                  <th>Project </th>  
                  <th>Start Date</th>  
                  <th>End Date</th>
                  <th>Description</th>
                  <th>Allocate</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                
                <tbody>
                  <!-- <?php $c=1; foreach ($row->result() as $key) { ?> -->
                   <tr>
                      <td><?=$c++?></td>
                      <td><?=$key->task_code?></td>
                      <td><?=$key->title?></td>
                      <td><?php if($key->project_id == $key->projectID){ echo $key->project_title;  }else{echo"-";} ?></td>
                      <td><?php $date = date_create($key->startDate);echo date_format($date, 'd -m -Y'); ?></td>
                      <td><?php $date = date_create($key->endDate);echo date_format($date, 'd -m -Y'); ?></td>
                      <td><?=$key->description?></td>
                      <td><a href="<?php echo base_url('index.php/main_controller/taskAllocation_addpage/'.urlencode(base64_encode($key->pt_id))); ?>"><i class="fa fa-check-square-o"></i>&nbsp;Allocate</a></td>                      
                      <td><a href="<?php echo base_url('index.php/main_controller/task_editpage/'.urlencode(base64_encode($key->pt_id))); ?>"><i class="fa fa-edit (alias)"></i>&nbsp;Edit</a></td>
                      <td><a style="cursor: not-allowed;" href=""><i class="fa fa-minus-square"></i>&nbsp;Delete</a></td>
                  </tr>
                  <?php } ?>
                </tbody>                
                <tfoot>
                <tr>
                  <th>No</th>
                  <th>Task Code</th>
                  <th>Title</th>                                    
                  <th>Project </th>  
                  <th>Start Date</th>  
                  <th>End Date</th>
                  <th>Description</th>
                  <th>Allocate</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
     
       
      </div>
      <!-- /.row -->
    </section>
    <?php } ?>
    </div>

    <!-- Main content -->
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <?php include('application/views/footer.php'); ?>
  <!-- Control Sidebar -->
  <?php include('application/views/side-controllbar.php');?>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<?php include('application/views/ex-jquery.php'); ?>
<!-- jQuery 2.2.3 -->
<script src="<?php echo base_url();?>/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="<?php echo base_url();?>/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="<?php echo base_url();?>/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url();?>/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="<?php echo base_url();?>/assets/plugins/daterangepicker/daterangepicker.js"></script>
<script>var $task = jQuery.noConflict();</script>
<!-- page script -->
<script>
  $task(function () {
    $task("#example1").DataTable();
    $task('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });

    $task('#project_name').change(function () {

            $task("#main_table").css("display","block");
            var selDpto = $(this).val(); // <-- change this line
            console.log(selDpto);
            $.ajax({          
              url: "<?php echo base_url('index.php/main_controller/autocompleteproject'); ?>",
              dataType: "json",
              data: {
                q: selDpto
              },
              success: function( data ) {
                response( data );
              }
            });
        });

     //Date range picker
    $task('#reservation').daterangepicker();
    $task('#reservation').on('apply.daterangepicker', function(ev, picker) {
    console.log(picker.startDate.format('YYYY-MM-DD'));
    console.log(picker.endDate.format('YYYY-MM-DD'));
});
  });
</script>

</body>
</html>
